{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block monTitre %}Profile de {{user.pseudo}}{% endblock %}
{% block body %}

{% if (user.profile is not null)%}
    <h2>Vos informations </h2>

    {% if user.profile.ImageProfile %}
        <img src="/uploads/images/{{user.profile.ImageProfile}}" class="img-thumbnail" alt="photo user">
    {% else %}
       <img src="{{ asset('images/anonyme.jpg') }}" class="img-thumbnail" alt="anonyme">
    {% endif %}
    <p><strong>username: {{user.pseudo}}</strong></p>
    <p><strong>email: {{user.email}}</strong></p>
    <p>nom: {{user.profile.nom}}</p>
    <p>prenom: {{user.profile.prenom}}</p>
    <p>âge: {{user.profile.age}}</p>
    <p>ville: {{user.profile.ville}}</p>
    <p>code postal: {{user.profile.CodePostal}}</p>
    <a href="{{path('profile_edit',{'id' : user.profile.id})}}" class="col btn btn-info">Edit</a>


{% else %}
    <h2>Vous n'avez pas encore enregistré vos informations</h2>
    <a href="{{path('profile_new')}}" class="col btn btn-info">Ajouter informations</a>

{% endif %}


<div class="row mt-3">
	<div class="col-6">

        <h2>Mes réservations ({{user.locations|length}})</h2>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Modèle</th>
                    <th scope="col">Marque</th>
                    <th scope="col">Immatriculation</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Début location</th>
                    <th scope="col">Fin location</th>
                    <th scope="col">Télécharger</th>
                </tr>
            </thead>
            <tbody>
                {% for location in user.locations %}
                    <tr class="table-info">
                        <th scope="row">{{ location.voiture.modele.libelle }}</th>
                        <td>{{ location.voiture.modele.marque.libelle }}</td>
                        <td>{{ location.voiture.immatriculation }}</td>
                        <td>{{ (location.prix) ?  location.prix ~' €' : ''}}</td> {# affiche le prix si il en a un sinon affiche rien #}
                        <td>{{ location.debut |date("d/m/Y")}}</td>
                        <td>{{ location.fin |date("d/m/Y")}}</td>
                        <td><a href={{ path('download', {'id': location.id} )}} class="btn btn-outline-info"><i class="fas fa-file-download"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


    <h2>Mes messages</h2>


{% endblock %}
