{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block monTitre %}Register{% endblock %}


{% block body %}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.password.first, {
            label: 'mot de Passe'
        }) }}
                {{ form_row(registrationForm.password.second, {
            label: 'confirmer mot de Passe'
        }) }}





        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
