{% extends 'base.html.twig' %}

{% block title %}Administration location{% endblock %}
{% block monTitre %}Administration des locations{% endblock %}

{% block body %}
{% for label, messages in app.flashes(['warning', 'success']) %}
	{% for message in messages %}
		<div class="alert alert-{{ label }}">
			{{ message }}
		</div>
	{% endfor %}
{% endfor %}

<div class="container-fluid">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Id</th>
				<th>Utilisateur</th>
				<th>Voiture</th>
                <th>modèle</th>
                <th>Prix</th>
				<th>date de début</th>
				<th>date de fin</th>
				<th>Actions</th>
			</tr>
		</thead>

		<tbody>
			{% for location in locations %}
				<tr>
					<td>{{location.id}}</td>
					<td>{{location.user.pseudo}}</td>
					<td>{{location.voiture.immatriculation}}</td>
                    <td>{{location.voiture.modele.libelle}}</td>
                    <td>{{location.prix}}</td>
                    <td>{{location.debut|date("d/m/Y")}}</td>
                    <td>{{location.fin|date("d/m/Y")}}</td>
					<td>
                    <div class="row">
						<div class="col-6">
							<a href="{{ path('admin_location_edit', {'id': location.id}) }}" class="btn btn-primary">
								<i class="fas fa-edit"></i>
							</a>
							</div>
							<div class="col-6">
								<form method="post" class="col" action="{{path('admin_location_supp',{'id':location.id})}}" onsubmit="return confirm('Voulez-vous vraiment supprimer ?');">
									<input type="hidden" name="_method" value="SUP">
									<input type="hidden" name="_token" value="{{csrf_token('SUP' ~ location.id)}}">
									<button type="submit" class="btn btn-danger">
										<i class="fas fa-trash"></i>
									</button>
								</form>
							</div>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>


 
{% endblock %}
