<h2>Voiture</h2>
<p>Modèle: {{ voiture.modele.libelle }}</p>
<p>Immitraculation: {{ voiture.immatriculation}}</p>


<p>Réservation avec le pseudo: {{ user.pseudo }}</p>

<p>prix: {{ prix}}</p>
<p>date debut: {{ dateDebut|date("d/m/Y")}}</p>
<p>date fin: {{ dateFin|date("d/m/Y")}}</p>

<p><strong>Vous pouvez télécharger en pdf votre réservation sur votre profil du site</strong><p>
