{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}
{% block monTitre %}Tableau de bord{% endblock %}


{% block body %}

	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{message}}
		</div>
	{% endfor %}

	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="card bg-primary text-white mb-3 text-center">
					<div class="card-body">
						<div class="row">
							<div class="col-4">
								<i class="fas fa-users fa-3x"></i>
							</div>
							<div class="col-8">
								<h4 class="card-title">{{ stats.users }} utilisateurs</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-6 offset-3">
								<a class="btn btn-outline-info"  href="{{path('admin_user')}}">Administrer</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card text-white bg-dark mb-3 text-center">
					<div class="card-body">
						<div class="row">
							<div class="col-4">
								<i class="fas fa-car fa-3x"></i>
							</div>
							<div class="col-8">
								<h4 class="card-title">{{ stats.voitures }} voitures dans l'agence</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-6 offset-3">
								<a class="btn btn-outline-info"  href="{{path('admin_voitures')}}">Administrer</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card text-white bg-warning mb-3 text-center">
					<div class="card-body">
						<div class="row">
							<div class="col-4">
								<i class="fas fa-folder fa-3x"></i>
							</div>
							<div class="col-8">
								<h4 class="card-title">{{stats.locations}} réservations</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-6 offset-3">
								<a class="btn btn-outline-info"  href="#">Administrer</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card text-white bg-success mb-3 text-center">
					<div class="card-body">
						<div class="row">
							<div class="col-4">
								<i class="fas fa-comments fa-3x"></i>
							</div>
							<div class="col-8">
								<h4 class="card-title">stats
									avis</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> 
		<hr>
		<div class="row">
			<div class="col">
				<div class="alert alert-success">
					<h2 class="alert-heading my-3">
						<i class="fas fa-arrow-up"></i>
						Les reservations futures ({{locFuture|length}})</h2>

					<table class="table table-hover">
						<thead>
							<tr>
								<th>Voiture</th>
								<th>Utilisateur</th>
								<th>date début</th>
								<th>date Fin</th>
							</tr>
						</thead>
						<tbody>
							{% for loc in locFuture %}
								<tr>
									<td>{{loc.voiture.immatriculation}}</td>
									<td>{{loc.user.pseudo}}</td>
									<td>
										{{loc.debut|date("d/m/Y")}}
									</td>
									<td >
										{{loc.fin|date("d/m/Y")}}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div> 
			</div>
			<div class="col">
				<div class="alert alert-info">
					<h2 class="alert-heading my-3">
						<i class="fas fa-arrow-right"></i>
						Les locations en cours({{locAct|length}})</h2>
						<table class="table table-hover">
						<thead>
							<tr>
								<th>Voiture</th>
								<th>Utilisateur</th>
								<th>date début</th>
								<th>date Fin</th>
							</tr>
						</thead>
						<tbody>
							{% for loc in locAct %}
								<tr>
									<td>{{loc.voiture.immatriculation}}</td>
									<td>{{loc.user.pseudo}}</td>
									<td>
										{{loc.debut|date("d/m/Y")}}
									</td>
									<td >
										{{loc.fin|date("d/m/Y")}}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="col">
				<div class="alert alert-danger">
					<h2 class="alert-heading my-3">
						<i class="fas fa-arrow-down"></i>
						Les locations finies({{locPasse|length}})</h2>
						<table class="table table-hover">
						<thead>
							<tr>
								<th>Voiture</th>
								<th>Utilisateur</th>
								<th>date début</th>
								<th>date Fin</th>
							</tr>
						</thead>
						<tbody>
							{% for loc in locPasse %}
								<tr>
									<td>{{loc.voiture.immatriculation}}</td>
									<td>{{loc.user.pseudo}}</td>
									<td>
										{{loc.debut|date("d/m/Y")}}
									</td>
									<td >
										{{loc.fin|date("d/m/Y")}}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

